version: '3.8'
services:
    db:
        build: ./db
        image: vopromax/db:latest
        container_name: vopromax-db
        restart: unless-stopped
        environment:
            - TZ=${TZ}
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        volumes:
            - db-data:/var/lib/postgresql/data
        networks:
            - chatbot-conn
        healthcheck:
            test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 20s
            start_interval: 5s

    db-migrate:
        build:
            context: ./db
            dockerfile: Dockerfile-migrate
        image: vopromax/db-migrate:latest
        container_name: vopromax-db-migrate
        restart: no
        command: alembic upgrade head
        env_file:
            - .env.docker
        depends_on:
            db:
                condition: service_healthy
        networks:
            - chatbot-conn
    qa:
        build: ./qa
        image: vopromax/qa:latest
        container_name: vopromax-qa
        restart: unless-stopped
        command: sh -c "cron && python main.py"
        env_file:
            - .env.docker
        depends_on:
            db:
                condition: service_healthy
        networks:
            - chatbot-conn

    chatbot:
        build: ./chatbot
        image: vopromax/chatbot:latest
        container_name: vopromax-chatbot
        restart: unless-stopped
        command: python main.py
        env_file:
            - .env.docker
        depends_on:
            db:
                condition: service_healthy
            qa:
                condition: service_started
            db-migrate:
                condition: service_completed_successfully
        networks:
            - chatbot-conn
volumes:
    db-data:

networks:
    chatbot-conn:
        driver: bridge
