{% extends "menu.html" %}
{% block content %}


<div class="position-fixed-top bg-dark-blue text-white p-3 d-flex align-items-center" style="height: 60px;">
    <h5 class="m-0">Вопросы без документов</h5>
    <form id="dateRangeForm" method="GET" class="ms-auto d-flex align-items-center">

        <input type="date" value="{{ time_start }}" class="form-control me-2" id="time_start" name="time_start">
        <input type="date" value="{{ time_end }}" class="form-control me-2" id="time_end" name="time_end">
        <button class="btn btn-light" type="submit">Анализировать</button>
    </form>
</div>

<div class="container-fluid" style="padding-top: 80px;">
    {% if clusters|length == 0 %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
            <img src="{{ url_for('static', filename='noquestions.png') }}" class="img-fluid" alt="no questions?">
        </div>
    </div>
    {% else %}
    <div class="accordion mb-5" id="accordionPanelsStayOpenExample">
        {% for cluster in clusters %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ clusters.index(cluster) + 1 }}" aria-expanded="false">
                    <div class="row w-100">
                        <div class="col-11">{{ ', '.join(cluster[1]) }}</div>
                        <div class="col-1"><span>{{ cluster[0]|length }}</span></div>
                    </div>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse{{ clusters.index(cluster) + 1 }}" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>Вопросы:</strong><br/>
                    {% for q in cluster[0] %}
                    <span data-bs-toggle="tooltip" title="{{ q[1].value }}">{{ marks[q[1].value] }}</span> {{ q[0] }}<br/>
                    {% endfor %}
                    <strong>Период:</strong> с {{ cluster[2][0] }} по {{ cluster[2][1] }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}
